# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 环境配置
.env

# 数据库
db/*
!db/.gitkeep
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志
*.log

# 临时文件
temp/
tmp/

# 项目大文件/本地数据（不上传）
data/*
!data/.gitkeep
scripts/
